
{{#partial "content"}}

    <h1>USERS</h1>

    <div class="user search">
        <h2>Buscar usuarios:</h2>
        <input type="text" placeholder="User to seach">
        <button>Search</button>
    </div>

    {{#if users}}
        <div>
            <ul>
                {{#users}}
                    <li><a href="users/{{id}}">{{id}} - {{.}}</a></li>
                {{/users}}
            </ul>
        </div>

    {{else}}

        <div>No users to show!</div>

    {{/if}}

{{/partial}}

{{> base}}

<script src="assets/js/userList.js"></script>
